body {
    font-family: 'proxima-nova', Helvetica;
}

/* Carousel */
.carousel-inner > .carousel-item > img {
    height: 700px;
    width: 500px;
    padding: 0%;
    margin: 0%;
    /* object-fit: cover; */
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
/* ================= */

/* Navbar */
.nav-item > .dropdown:hover>.dropdown-menu {
    display: block;
  }

.navBarLogo {
    height: 70px;
    width: 250px;
}
.navInfo {
    text-align: center;
}

.navInfoDescription{
    text-align: center;
    
}

/* Registration / Sign in modal */
.modalFormImage {
    height: 70px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.nav-pills > li > a {
  color: black;
}

.nav-pills > li > a.active {
  background-color: #121212!important;
}

.modalDescription {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: black;
  font-family: 'Copperplate';
}

.modalIcon {
  font-size: 30px;
  text-align: left;
  margin-top: 1%;
}

.modalInput {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #929fba;
}

/* Removes the outline when focus */
.form-control:focus {
  border-color: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Focus animation */
.modalInput ~ .border {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
}

.modalInput:focus ~ .border {
  width: 100%;
  transition: 0.5s;
}

.border {
  border: 1px solid black !important;
  width: 0;
}
/* End of focus animation */

/* ================= */
  
/* Content */
.main {
    text-align: center;
    margin-top: 30px;
}

.main img {
    object-fit: cover;
    height: 200px;
}

/* Special */
.specialImage {
    height: 85px;
    width: 85px;
    opacity: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.specialContext p,
.specialContext h4 {
    text-align: center;
}

.specialContext {
    margin-top: 70px;
    margin-bottom: 70px;
}
/* ================= */

/* General all pages */
.mainHeader {
    text-align: center;
    height: 100px;
}


header {
    position: relative;
    background-color: black;
    height: 60vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 85%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

.sortPosition {
    margin-top: 70px;
}

/* .wrapper{
    width: 100%;
    height: 30vh;
    overflow: hidden;
  }
  
  .wrapper .wrapper__video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 30%;
  } */
  
/* ================= */




.button {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.button:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0cf;
  border-radius: 10rem;
  z-index: -2;
}
.button:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #008fb3;
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}
.button:hover {
  color: #fff;
}
.button:hover:before {
  width: 100%;
}













/* The message box is shown when the user clicks on the password field */
/* #message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 10px 35px;
  font-size: 18px;
} */

/* Add a green text color and a checkmark when the requirements are right */
/* .valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
  content: "✔";
} */

/* Add a red text color and an "x" when the requirements are wrong */
/* .invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
  content: "✖";
} */