body {
    font-family: 'proxima-nova', Helvetica;
}

/* Carousel */
.carousel-inner > .carousel-item > img {
    height: 700px;
    width: 500px;
    padding: 0%;
    margin: 0%;
    /* object-fit: cover; */
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
/* ================= */

/* Navbar */
.nav-item > .dropdown:hover>.dropdown-menu {
    display: block;
  }

.navBarLogo {
    height: 70px;
    width: 250px;
}

/* Registration / Sign in modal */
.modalFormImage {
    height: 70px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav-pills > li > a.active {
    background-color: #050505bb!important;
}

/* ================= */
  
/* Content */
.main {
    text-align: center;
    margin-top: 30px;
}

.main img {
    object-fit: cover;
    height: 200px;
}

/* Special */
.specialImage {
    height: 85px;
    width: 85px;
    opacity: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.specialContext p,
.specialContext h4 {
    text-align: center;
}

.specialContext {
    margin-top: 70px;
    margin-bottom: 70px;
}
/* ================= */

/* General all pages */
.mainHeader {
    text-align: center;
    height: 100px;
}


header {
    position: relative;
    background-color: black;
    height: 60vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 85%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }

.sortPosition {
    margin-top: 70px;
}

/* .wrapper{
    width: 100%;
    height: 30vh;
    overflow: hidden;
  }
  
  .wrapper .wrapper__video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 30%;
  } */
  
/* ================= */

