body {
    font-family: 'proxima-nova', Helvetica;
}
.carousel-inner > .carousel-item > img {
    height: 500px;
    width: 500px;
    padding: 0%;
    margin: 0%;
    /* object-fit: cover; */
}

.mainContent {
    text-align: center;
}

/* Navbar dropdown menu */
.dropdown:hover>.dropdown-menu {
    display: block;
  }
  
.main {
    text-align: center;
    margin-top: 30px;
}

.main img {
    object-fit: cover;
    height: 200px;
}

.navBarLogo {
    height: 70px;
    width: 250px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }